@import 'variables';

/*------------------------------------------------------------------
  [Typography]

  Body:     #{$html_font_size}/#{$body_line_height} #{$font_body};
  Headings: #{$font_headings}

  Note: Most of font sizes are relative to the base font size (rem)
 -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]

  Main:    #{$color_main}
  Dark:    #{$color_dark}
  Text:    #{$color_text}
 -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Table of contents]
  {{table_of_contents}}
 -------------------------------------------------------------------*/


/*------------------------------------------------------------------

  Bootstrap

 -------------------------------------------------------------------*/
@import 'parts/bootstrap';

/*------------------------------------------------------------------

  Preloader

 -------------------------------------------------------------------*/
@import 'parts/preloader';

/*------------------------------------------------------------------

  Base

 -------------------------------------------------------------------*/
@import 'parts/base';

/*------------------------------------------------------------------

  Typography

 -------------------------------------------------------------------*/
@import 'parts/typography';

/*------------------------------------------------------------------

  Helpers

 -------------------------------------------------------------------*/
@import 'parts/helpers';


// Layouts
/*------------------------------------------------------------------

  Preloader

 -------------------------------------------------------------------*/
@import 'parts/page-preloader';

/*------------------------------------------------------------------

  Navbar

 -------------------------------------------------------------------*/
@import 'parts/navbar';

/*------------------------------------------------------------------

 Slider

 -------------------------------------------------------------------*/
@import 'parts/page-slider';

/*------------------------------------------------------------------

 Page Content

 -------------------------------------------------------------------*/
@import 'parts/page-content';

/*------------------------------------------------------------------

  Page Layout

 -------------------------------------------------------------------*/
@import 'parts/page-layout';

/*------------------------------------------------------------------

  Blog

 -------------------------------------------------------------------*/
@import 'parts/blog';


/*------------------------------------------------------------------

  Elements

 -------------------------------------------------------------------*/

/*---------------------------
  Element Blockquotes
 ----------------------------*/
@import 'parts/element-blockquotes';

/*---------------------------
  Element Forms
 ----------------------------*/
@import 'parts/element-forms';

/*---------------------------
  Element Social Links
 ----------------------------*/
@import 'parts/element-social-links';

/*---------------------------
  Element Icons
 ----------------------------*/
@import 'parts/icons';


/*------------------------------------------------------------------

  Plugins

 -------------------------------------------------------------------*/
/*---------------------------
  Plugin NanoScroller
 ----------------------------*/
@import 'parts/plugin-nano-scroller';
