.nk-blockquote {
    position: relative;
    font-style: italic;
    margin: 40px 0;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 15px;
    padding-left: 45px;
    min-height: 200px;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: -100px;
        right: -100px;
        bottom: 0;
        background-color: #fbfbfb;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        z-index: -1;
    }

    p {
        margin: 0;
    }

    cite {
        position: absolute;
        display: block;
        font-weight: bold;
        font-size: 1rem;
        font-style: normal;
        white-space: nowrap;
        bottom: 100%;
        left: 0;
        margin-bottom: -48px;
        margin-left: -10px;
        transform: rotate(90deg);
        transform-origin: 0 100%;
    }
}